@model string

@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Chat Moveleiros</title>
        <style>
        </style>
    </head>
    <body>
        @Html.Raw(Model)
    </body>
</html>
